<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/gofooddesignlogo"
        android:label="GoFood"
        android:roundIcon="@drawable/gofooddesignlogo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".customer.order_confirmation.OrderConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".customer.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".customer.store_detail.StorePageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".merchant.store_management.MenuManagement.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".merchant.store_management.MenuManagement.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".merchant.store_management.StoreManagementActivity"
            android:exported="false"
            android:label="@string/title_activity_store_detail" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".merchant.choose_store.ChooseStoreActivity"
            android:exported="false"
            android:label="@string/title_activity_choose_store"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StartedActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>